/*order.html*/
.productContainer{
    margin:10px 0 0 0;
    overflow:hidden;
}
.pop-bar{
    text-align:center;
}
.container-fluid{
    text-align:center;
    padding:0;
    margin:15px 0px 5px 0px;
}
.productCard{
    width:100%;
    max-width:350px;
    height:auto;
    align-items:center;
    overflow-x: hidden;
    margin:5px;
    transition:all 2s ease-in-out;
}
.card-deck{
    margin:0;
}
.card-deck .card{
    border:solid;
}
.card .card-img-top{
    height:300px;
    width:300px;
}
.card-title{
    color:#3f3d3d;
    text-decoration: none;
}
.btn-custom{
    background-color: #3f3d3d;
    color:white;
    border-radius: 20px;
    text-align: center;
    width:135px;
    font-size:15px;
    overflow:hidden;
}
.btn:hover{
    background-color:white;
    border-color:white;
    color: #3f3d3d;
}
.btn:active{
    border-color:none;
}
.cancelPurchase{
    background-color: #ef476f;
    color:white;
}
.cartBtn{
    background-color: #118ab2;
    color:white;
}

/*orderlist*/
table i{
    padding: 5px;
}

table button{
    color:#1db26d !important;
    border:none;
    background-color: transparent;
}

.table-header{
    background-color:#ef476f;
    color: #ffffff;
}

#proceedBtn{
    background-color:#118ab2;
    color: #ffffff;   
}

.center{
    width: 100px;
}

.input-number{
    width: 50px;
}

#toast {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px;
    background-color: #ef476f; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}

#toast.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}