@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

.page-label{
    background-color: #4a4a4a;
    color: #ffffff;
    height: 200px;
    padding-top: 100px;
    width: 100%;
}
.cart-section{
    width: 100%;
    background: #FFFFFF;
    padding-top: 68px;
    padding-bottom: 100px;
}
#lists{
	width:65%;
	background-color:#e1f0dc;
}
.p-25{
    padding: 25px;
}
.m5{
    margin: 5px;
}
.main-color{
    background: #2fce98 !important;
    border-color: #2fce98 !important;
}

ul{
	list-style-type:none;
	padding:0;
	margin:0;
}

ul li{
	text-decoration:none;
	
}

#logBtn{
	padding:3px 16px 4px 16px;
	font-size:18px;
}
