@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

.page-label{
    background-color: #4a4a4a;
    color: #ffffff;
    height: 200px;
    padding-top: 100px;
    width: 100%;
}
.customer, .product{
    width: 100%;
    background: #FFFFFF;
}

#secondNav a{
	color:#00350d;
}

#secondNav li{
	font-size:18px;
}

.active{
	font-weight:bold;
}

.pagination>li {
display: inline;
padding:0px !important;
margin:0px !important;
border:none !important;
}
.modal-backdrop {
  z-index: -1 !important;
}
/*
Fix to show in full screen demo
*/
iframe
{
    height:700px !important;
}

.p-25{
    padding: 25px;
}
.m5{
    margin: 5px;
}

ul{
	list-style-type:none;
	padding:0;
	margin:0;
}

ul li{
	text-decoration:none;
	
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#customerTable_filter, #productTable_filter{
    float:right;
}
#customerTable_paginate, #productTable_paginate{
    float:right;
}
label {
    display: inline-flex!important;
    margin-bottom: .5rem;
    margin-top: .5rem;  
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #e3ffea;
}

table i{
	padding: 5px;
}
table a{
	color:#1db26d !important;
}

#updateBtn, #deleteBtn{
	background-color:#1db26d;
	color:#ffffff;
}

#customerCard{
	background-color:#f31b66;
	border: none;
	color: #ffffff;
}

#productCard{
	background-color:#8e1bf3;
	border: none;
	color: #ffffff;
}