{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    

    <!-- Custom styles for this template-->
    <link href="{% static 'css/temp.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper" class="d-flex">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Sugbo Merkado</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'main:index_view' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Heading -->
            <div class="sidebar-heading">
                Fields
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'customer:index_view' %}">
                    <i class="fa fa-users"></i>
                    <span>Customers</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product:index_view' %}">
                    <i class="fa fa-list"></i>
                    <span>Products</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline">Valerie</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static '/websiteImgs/placeholder.png' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="productContainer">
                        <div class="pop-bar">
                            <h2 id="pop-title">Available Products for {{ customer.firstname }}</h2>
                        </div>
                        <br>
                        <div class="row justify-content-center ">
                            <div class="card-deck d-flex">
                                {% for product in products %}
                                <div class="card productCard">
                                    
                                    <div id="carouselExampleControls-{{ product.id }}" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for img in product.ProductImages %}

                                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                                    <img class="d-block card-img-top" src="/static{{img.productImage.url}}" alt="Card image">
                                                </div>
                                           
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls-{{ product.id }}" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls-{{ product.id }}" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                  
                                  

                                  <div class="card-body">
                                    <a href="#"><h3 class="card-title">{{ product.name }}</h3></a>
                                    <div id="price">
                                        <h4 class="card-title">PHP {{ product.unitPrice|floatformat:2|intcomma }}</h4>
                                    </div>
                                    <br>
                                    <form method='POST'>
                                        {% csrf_token %}    
                                    <div class="row justify-content-center">
                                        <input type='text' name='prodID' value='{{ product.id }}' hidden>
                                        <div class="col-6-md d-flex">
                                            <div class="px-lg-1 pt-1">
                                                <a href="#" class="btn btn-custom"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-6-md d-flex">
                                            <div class="px-lg-1 pt-1">
                                                <button name='addToCart' type='submit' class="btn btn-custom"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    </form>
                                  </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}                                       
                                    </div>
                                    <div class="card-deck d-flex">
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                            

                    </div>
                <br>
                <div class="d-flex justify-content-end mr-5">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn cancelPurchase mr-3" name="cancelPurchaseBtn">Cancel Purchase</button>
                        <button type="submit" class="btn cartBtn" name="cartBtn">Go to Cart</button>
                    </form>
                </div>
                <br>
                <br>

                <!-- Footer -->
                <footer class="page-footer font-small">
                    <div class="container">
                        <div class="flex-sb-m flex-w p-t-22 p-b-22">
                            <div class="txt17" style="color:gray">
                                Copyright © 2020 All rights reserved | This project is made with <i
                                    class="fa fa-heart"></i> by <a href="#" target="_blank"
                                    style="color:#2fce98">LLANOS</a>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End main content -->
        </div>
        <!-- End content-wrapper -->
    </div>
    <!-- End wrapper  -->

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


    <!-- custom js -->
    <script src="{% static 'js/temp.js' %}"></script>

</body>
</html>