{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">


    <title>Product Registration - Sugbo Merkado</title>

    <!-- Custom fonts for this template-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <!-- Custom styles for this template-->
	<link href="{% static 'css/temp.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper" class="d-flex">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main:index_view' %}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Sugbo Merkado</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:index_view' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Heading -->
            <div class="sidebar-heading">
                Fields
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'customer:index_view' %}">
                    <i class="fa fa-users"></i>
                    <span>Customers</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product:index_view' %}">
                    <i class="fa fa-list"></i>
                    <span>Products</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
					
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline">Valerie</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static '/websiteImgs/placeholder.png' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <br>
                    <h1 class="text-center mt-4" style="width: 100%;font-family: Raleway">Product Registration</h1>

                    <div class="row m-5">
                        <!-- Area Chart -->
                        <div class="col-12">
                            <div class="card shadow overflow-auto">
                                <!-- Card Body -->
                                <div class="card-body">
									<form name='form1' id="form1" action="" method="POST" style='margin:0px;' enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
										<div class='form-group row align-items-center'>
											<div class='col-sm-12'>
												<label class="d-flex mx-auto"><span class='col-sm-2 m-0 p-0'>Date Registered : </span><span class='col-sm-2' id="dateRegistered" name="dateRegistered"></span></label>
											</div>
											<div class='col-sm-12'>
												<label class="d-flex"><span class='col-sm-2 m-0 p-0'>SKU : </span>{%if messages%}{% for message in messages%}{% if "skuID" in message.tags %}<input type='text' class='col-sm-2 m-0' style='border: none; color:#858796; font-weight: bold' name="sku" value={{message}}>{% endif %}{% endfor %}{% endif %}</label>
											</div>
										</div>
										<hr><br>
										<div class='form-group row'>
											<label for='category' class='col-sm-3 col-form-label text-left'>Category : </label>
											<div class='col-sm-9'>
												<select name="category" id='category' class='form-control'>
													<option value='Unisex' selected>Unisex</option>
													<option value='Women'>Women</option>
													<option value='Men'>Men</option>
												</select>
											</div>
										</div>
										<div class='form-group row'>
											<label for='name' class='col-sm-3 col-form-label text-left'>Name : </label>
											<div class='col-sm-9'><input type='text' name='name' id='name' maxlength="50" class='form-control' required></div>
										</div>
										<div class='form-group row'>
											<label for='brand' class='col-sm-3 col-form-label text-left'>Brand : </label>
											<div class='col-sm-9'><input type='text' name='brand' maxlength="50" id='brand' class='form-control'></div>
										</div>
										<div class='form-group row'>
											<label for='color' class='col-sm-3 col-form-label text-left'>Color : </label>
											<div class='col-sm-9'><input type='text' name='color' id='color' class='form-control'></div>
										</div>
										<div class='form-group row'>
											<label for='size' class='col-sm-3 col-form-label text-left'>Size/Dimension :</label>
											<div class='col-sm-9'><input type='text' name='size' id='size' class='form-control' placeholder='e.g. 16 x 24 in' pattern="\d.{0,}\s[x|X]\s\d.{0,}[in|inches]" title='e.g. 16 x 24 in'></div>
										</div>
										<div class='form-group row'>
											<label for='price' class='col-sm-3 col-form-label text-left'>Unit Price : </label>
											<div class='col-sm-9'><input type="number" name="unitPrice" id='price' min="0.00" max="999999.99" title="Max price is Php 999,999.99" step="0.01" class='form-control' placeholder='Php 0.00' required></div>
										</div>
										<div class='form-group row'> 
											<label for='qty' class='col-sm-3 col-form-label text-left'>No. of Stocks : </label>
											<div class='col-sm-9'><input type='number' name='quantity' id='qty' min="1" max="9999" title="Max quantity is 9,999 units" class='form-control' placeholder='0' required></div>
										</div>
										<div class='form-group row'>
											<label for='image' class='col-sm col-form-label d-flex'><span class="col-sm-3 p-0">Image File/s : </span>
                                                
												<div class='col-sm text-center' style="position: relative;">
                                                    <img class="imgPreview1" id="p-1" src="{% static '/websiteImgs/placeholder2.png' %}"/>
                                                    <input type='file' name='productImage' id='i-1' class='mt-2 form-control' accept="image/*" onchange="PreviewImageProduct(this.id)" required>
                                                    <a style="display:none; color:#ef476f" class='pr-2 removeImage1' id="r-1" href="#" onclick="RemoveImage(this.id,event)">X</a>
                                                </div>
                                                <div class="col-sm text-center">
                                                    <img class="imgPreview2" id="p-2" src="{% static '/websiteImgs/placeholder2.png' %}"/>
                                                    <input type='file' name='productImage2' id='i-2' class='mt-2 form-control' accept="image/*" onchange="PreviewImageProduct(this.id)">
                                                    <a style="display:none; color:#ef476f" class='pr-2 removeImage2' id="r-2" href="#" onclick="RemoveImage(this.id,event)">X</a>
                                                </div>
                                                <div class="col-sm text-center">
                                                    <img class="imgPreview3" id="p-3" src="{% static '/websiteImgs/placeholder2.png' %}"/>
                                                    <input type='file' name='productImage3' id='i-3' class='mt-2 form-control' accept="image/*" onchange="PreviewImageProduct(this.id)">
                                                    <a style="display:none; color:#ef476f" class='pr-2 removeImage3' id="r-3" href="#" onclick="RemoveImage(this.id,event)">X</a>
                                                </div>
                                            </label>
										</div>
										<div class='form-group row'>
											<div class="col-sm-2 offset-sm-10">
												<button type="submit" class="btn btn-primary float-right m5 main-color" name="addProd" >Add Product</button>
											</div>
										</div>
									</form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->




                <!-- Footer -->
                <footer class="page-footer font-small">
                    <div class="container">
                        <div class="flex-sb-m flex-w p-t-22 p-b-22">
                            <div class="txt17" style="color:gray">
                                Copyright © 2020 All rights reserved | This project is made with <i
                                    class="fa fa-heart"></i> by <a href="#" target="_blank"
                                    style="color:#2fce98">ALVAREZ</a>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End main content -->

        </div>
        <!-- End content-wrapper -->
       
    </div>
    <!-- End wrapper  -->

    {% if messages %}
        {% for message in messages %}
            {% if "save" in message.tags %}<script>alert("{{message}}")</script>{% endif %}
            {% if "error" in message.tags %}<script>alert("{{message}}")</script>{% endif %}
        {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
	
    <script src="{% static 'js/temp.js' %}"></script>
    <script src="{% static 'js/prodRegistration.js' %}"></script>


</body>

</html>