{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    

    <!-- Custom styles for this template-->
    <link href="{% static 'css/temp.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper" class="d-flex">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Sugbo Merkado</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'main:index_view' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Heading -->
            <div class="sidebar-heading">
                Fields
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'customer:index_view' %}">
                    <i class="fa fa-users"></i>
                    <span>Customers</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product:index_view' %}">
                    <i class="fa fa-list"></i>
                    <span>Products</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline">Valerie</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static '/websiteImgs/placeholder.png' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="mx-auto"><b>Customer Report Summary</b></h1>
                    </div>

                    
                    <div class="row m-5 p-0 m-0">
                        <!-- Area Chart -->
                        <div class="col-12">
                            <div class="card shadow">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Customer Statistics</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="lineChartCustomer"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-5">
                        <!-- Area Chart -->
                        <div class="col-12">
                            <div class="card shadow overflow-auto">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Customer Overview</h6>
                                    <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary" name='addCustBtn'>Add Customer</button>
                                    </form>
                                </div>
                                
                                <!-- Card Body -->
                                <div class="card-body">
                                    <p id="date_filter" class="datatables_filter">
                                        <label class="d-flex">
                                            <span class='pr-2' >From: </span>
                                            <input name="min" id="min" type="date" class="col-sm-2 form-control form-control-sm">
                                            <span class='pl-2 pr-2'>To: </span>
                                            <input name="max" id="max" type="date" class="col-sm-2 form-control form-control-sm">
                                        </label>
                                    </p>

                                    <table id="example" class="table table-striped table-bordered" >
                                        <thead>
                                            <tr>
                                                <th>Date Registered</th>
                                                <th>Firstname</th>
                                                <th>Lastname</th>
                                                <th>Date of Birth</th>
                                                <th>Address City</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for customer in customers %}
                                            <tr>
                                                <td>{{ customer.date_regis|date:'F d, Y' }}</td>
                                                <td>{{ customer.firstname }}</td>
                                                <td>{{ customer.lastname }}</td>
                                                <td>{{ customer.birthdate }}</td>
                                                <td>{{ customer.prov }}</td>
                                                <td class='text-center'>
                                                    <span data-title="ViewProduct" data-toggle="modal" data-target="#editCustomer-{{customer.emp_id}}" ><a data-placement="top" data-toggle="tooltip" title="View" type="button" ><i class="fa fa-eye" aria-hidden="true"></i></a></span>
                                                    <span data-title="DeleteCustomer" data-toggle="modal" data-target="#delete-{{customer.emp_id}}"><a data-placement="top" data-toggle="tooltip" title="Delete" type="button"><i class="fas fa-trash-alt" aria-hidden='true'></i></a><span>
                                                </td>
                                            </tr>
                                            <!-- Modal View Update-->
                                            <div id="editCustomer-{{customer.emp_id}}" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" id="regForm">
                                                    <form  method="POST" autocomplete="off" enctype="multipart/form-data" id="updateForm">
                                                        {% csrf_token %}

                                                        <div class="modal-content">
                                                            <div class="container card p-5">
                                                                <h1 class="text-center mt-4" style="width: 100%;">Customer Profile</h1>    
                                                                <br>
                                                                <div class="col-12 shadow pt-5">
                                                                    <input type="text" name="customer-id" value = {{customer.id}} hidden>
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-4 d-flex flex-column form-group">
                                                                            <h5 class="text-center">Profile Picture</h5>
                                                                            <div class="form-group">
                                                                                <img class="uploadPreview" id="pp-{{ customer.id }}" src="{{ MEDIA_URL }}images/{{ customer.profile_pic }}"/>
                                                                                <input class="uploadImage" id="u-{{ customer.id }}" type="file" name="myPhoto" onchange="PreviewImage( {{customer.id}} );" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-8 form-group">
                                                                            <h4 class="text-center">General Information</h4>
                                                                            <div class="container">
                                                                                <h5>Name</h5>
                                                                                <div class="row">
                                                                                    <div class="col-12 col-sm"><input class="validate" type = "text" placeholder="Firstname" name="firstname" value="{{ customer.firstname }}" minlength="0" maxlength="50"></div>
                                                                                    <div class="col-12 col-sm"><input type = "text" placeholder="Middle Name" name="middlename" value="{{ customer.middlename }}" minlength="0" maxlength="50"></div>
                                                                                    <div class="col-12 col-sm"><input class="validate" type = "text" placeholder="Lastname" name="lastname" value="{{ customer.lastname }}" minlength="0" maxlength="50"></div>
                                                                                </div>
                                                                                <div class="form-group pt-3">
                                                                                    <h5>Address</h5>
                                                                                    <div class="row">
                                                                                        <div class="col-12 col-sm"><input type = "text" placeholder="Street" name="street" value="{{ customer.street }}" minlength="0" maxlength="50"></div>
                                                                                        <div class="col-12 col-sm"><input type = "text" placeholder="Barangay" name="brgy" value="{{ customer.brgy }}" minlength="0" maxlength="50"></div>
                                                                                    </div>
                                                                                    <div class="row pt-3">
                                                                                        <div class="col-12 col-sm"><input class="validate" type = "text" placeholder="Province" name="prov" value="{{ customer.prov }}" minlength="0" maxlength="50"></div>
                                                                                        <div class="col-12 col-sm"><input type = "text" pattern="[0-9]*" placeholder="Zip Code" name="zip" value="{{ customer.zp }}" minlength="4" maxlength="6"></div>
                                                                                    </div>
                                                                                    <div class="row pt-3">
                                                                                        <div class="col-sm"></div>
                                                                                        <div class="col-12 col-sm"><input type = "text" placeholder="Country" name="country" value="{{ customer.country }}" minlength="0" maxlength="50"></div>
                                                                                        <div class="col-sm"></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <h5>Contact Information</h5>
                                                                                    <div class="row">
                                                                                        <div class = "col-12 col-sm">
                                                                                            <div class="d-flex flex-column">
                                                                                                <input class="validate" type = "email" placeholder="Email" name="email" value="{{ customer.email}}" minlength="0" maxlength="50">
                                                                                                <label>Format: abc@mail.com</label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-12 col-sm">
                                                                                            <div class="d-flex flex-column">
                                                                                                <input class="validate" type = "tel" pattern="[0-9]{11}" placeholder="Enter 11 Digit Phone number" name="phone" value="{{ customer.phone }}">
                                                                                                <label>Format: 09XXXXXXXXX</label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row form-group">
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Height (cm)</h5>
                                                                                        <div><input type = "number" step="0.01" min="0" max="999" name="height" value="{{ customer.height }}"></div>
                                                                                    </div>
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Weight (kg)</h5>
                                                                                        <div><input type = "number" step="0.01"  min="0" max="999" name="weight" value="{{ customer.weight }}"></div>
                                                                                    </div>
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Religion</h5>
                                                                                        <input type = "text" name="religion" value="{{ customer.religion }}" minlength="0" maxlength="50">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row form-group">
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Birthdate</h5>
                                                                                        <div>
                                                                                            <input class="validate" type = "date" name="birthdate" value="{{ customer.birthdate|date:'Y-m-d' }}">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Status</h5>
                                                                                        <select style="width: 100%; height: 47px;" name="status">
                                                                                            <option value="{{ customer.status }}" selected hidden> {{ customer.status }}</option>
                                                                                            <option value="Single">Single</option>
                                                                                            <option value="Married">Married</option>
                                                                                            <option value="Widowed">Widowed</option>
                                                                                            <option value="Divorced">Divorced</option>
                                                                                        </select>
                                                                                    </div>

                                                                                    <div class="col-12 col-sm form-group">
                                                                                        <h5>Gender</h5>
                                                                                        <select style="width: 100%; height: 47px;" name="gender">
                                                                                            <option value="{{ customer.gender }}" selected hidden> {{ customer.gender }}</option>
                                                                                            <option value="Male">Male</option>
                                                                                            <option value="Female">Female</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-12  shadow mt-5">
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-12 form-group pt-3">
                                                                            <h4 class="text-center">Family Background</h4>
                                                                            <div class="container">
                                                                                <div class="row form-group">
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Father's Name</h5>
                                                                                        <input class="validate" type="text" name="father-name" value="{{ customer.f_name}}" minlength="0" maxlength="50">
                                                                                    </div>
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Occupation</h5>
                                                                                        <input type="text" name="father-occupation" value="{{ customer.f_job }}" minlength="0" maxlength="50">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row form-group">
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Mother's Name</h5>
                                                                                        <input class="validate" type="text" name="mother-name" value="{{ customer.m_name }}" minlength="0" maxlength="50">
                                                                                    </div>
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Occupation</h5>
                                                                                        <input type="text" name="mother-occupation" value="{{ customer.m_job }}" minlength="0" maxlength="50">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row form-group">
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Spouce's Name</h5>
                                                                                        <input type="text" name="spouse-name" value="{{ customer.sp_name }}" minlength="0" maxlength="50">
                                                                                    </div>
                                                                                    <div class="col-12 col-sm">
                                                                                        <h5>Spouce's Occupation</h5>
                                                                                        <input type="text" name="spouse-occupation" value="{{ customer.sp_job }}" minlength="0" maxlength="50">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row form-group">
                                                                                    <div class="col-12 col-sm-6">
                                                                                        <h5>Number of Children</h5>
                                                                                        <input type="number" min="0" max="999" name="no-of-children" value="{{ customer.children }}" >
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer col-12">
                                                                    <div class="d-flex" style="float:right;">
                                                                        <input type="submit" name="btnUpdateCustomer" class="btn btn-default" id="updateBtn" Value="UPDATE">
                                                                        <input type="button" class="btn btn-default" id="closeBtn" Value="CLOSE" data-dismiss="modal"/>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            
                                            <!-- Modal delete -->
                                            <div class="modal fade" id="delete-{{customer.emp_id}}" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input type="text" name="customer-id" value = {{customer.id}} hidden>
                                                            <div class="modal-body">
                                                                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
                                                            </div>
                                                            <div class="modal-footer ">
                                                                <input type="submit" name="btnDelete" class="btn btn-default deleteBtns" id="deleteBtn" Value="YES">
                                                                <input type="button" class="btn btn-default" Value="NO" data-dismiss="modal"/>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Date Registered</th>
                                                <th>Firstname</th>
                                                <th>Lastname</th>
                                                <th>Date of Birth</th>
                                                <th>Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                

                <!-- Footer -->
                <footer class="page-footer font-small">
                    <div class="container">
                        <div class="flex-sb-m flex-w p-t-22 p-b-22">
                            <div class="txt17" style="color:gray">
                                Copyright © 2020 All rights reserved | This project is made with <i
                                    class="fa fa-heart"></i> by <a href="#" target="_blank"
                                    style="color:#2fce98">LLANOS</a>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End main content -->
        </div>
        <!-- End content-wrapper -->
    </div>
    <!-- End wrapper  -->
    {% if messages %}
        {% for message in messages %}
            {% if "save" in message.tags %}<script>alert("{{message}}")</script>{% endif %}
        {% endfor %}
    {% endif %}
    

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- datatables -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>

    <!-- custom js -->
    <script src="{% static 'js/temp.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/chartCustomer.js' %}"></script>
    <script src="{% static 'js/addRequire.js' %}"></script>
</body>
</html>